matplotlib
munkres
opencv-python
opencv-python-headless
pillow
pyarrow
PySide6
setuptools
shiboken6
torchaudio
torchvision
wheel
zstandard
ultralytics
streamlit
numpy
torchvision
pillow
opencv-python
torch
